body {
  margin: 0;
  /* background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjIg7nCmqvgAhWGTN8KHRHRBCIQjRx6BAgBEAU&url=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Floose-leaf-paper&psig=AOvVaw2d5ue1fU78Da0nNPhfaSQW&ust=1549683340919000"); */
  /* background-image: url(../images/looseleaf.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  border: 3px solid black;
  display: block;
  margin: 0 auto;
}

.title {
  /* font-family: 'Handlee', regular; */
  /* font-family: 'Lobster Two', cursive; */
  font-family: 'Permanent Marker', cursive;
  font-size: 36px;
  text-align: center;
}

.instructions {
  text-align: center;
  padding: 6px;
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  margin-bottom: 30px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
  text-shadow: 2em;
}

a {
  text-decoration: none;
}