body {
  margin: 0;
  background-repeat: no-repeat;
  background-image: url("../images/notebook.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Righteous', cursive;
}

.main-content {
  display: flex;
  width: 100vw;
  margin: 0 auto;
}

.game {
  width: 60%;
}

.game-window {
  width: 90%;
  height: 75%;
}

canvas {
  border: 3px solid black;;
  display: block;
  margin: 0 auto;
  position: relative;
}

.title {
  font-family: sans-serif;
  font-family: 'Righteous', cursive;
  font-size: 42px;
  text-align: center;
  margin: 10px 0px;
}

.play-again-btn, .start-btn {
  position: absolute;
  left: 45%;
  top: 55%;
  z-index: 2;
  font-size: 24px;
  color: orange;
  background: white;
  border: 3px solid #666666;
  padding: 15px 40px;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.start-btn {
  left: 47%;
}

.play-again-btn:hover, .start-btn:hover {
  background: #e8e7e1;
  color: #e2950d;
}

.play-again-btn.hide, .start-btn.hide, .instruction-list.hide {
  display: none;
}

.instructions {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 200px;
  margin: auto;
  text-align: center;
  padding: 0 20px;
  font-family: sans-serif; 
  font-family: 'Righteous', cursive;
}

.name {
  text-align: center;
  padding: 6px;
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: left;
  color: #666666;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  margin: auto;
  width: 20%;
}

.fab, .fas {
  font-size: 45px;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
  text-shadow: 2em;
}

a {
  text-decoration: none;
  color: black;
}